@use 'variables' as v;
@use 'mixins';

.gallery {
    &__image-container {
        background-image: url(../images/image-product-1.jpg);
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position-y: -35px;
   
    }

    &__previous {
       
        @include mixins.image-btn(170px, 15px);  
    }
    &__next {

        @include mixins.image-btn(170px, 320px)
    }
    
    &__thumbnails {
        display: none;
        @include mixins.desktop  {
            display: flex;
            justify-content: space-between;
        }
    }
    &__thumbnail {
        width: 90px;
        border-radius: 16px;
        &:hover {
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }
    @include mixins.desktop {
        width: 446px;
        &__image-container {
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
            background-position-y: 0;
        }
        


    }
}