@use 'variables' as v;
@use 'mixins';

.input {
    outline: 1px solid green;
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    &__minus {
        @include mixins.changeNumber(24px, 5px);
    }
    &__number {
        width: 100%;
        border:none;
        background-color: v.$Light-grayish-blue;
        font-size: 1.2em;
        font-weight: 700;
        font-family: v.$Font;
        text-align: center;
        outline: none;
    }
    &__plus {
        @include mixins.changeNumber(21px, 5px);
}
}
