@use 'variables' as v;
@use 'mixins';

.cart-modal {
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba($color: #00000027, $alpha: 0.4);
    position: absolute;
    top: 75;
    left: 50%;
    transform: translateX(-50%);
    background-color: v.$White;
    border-bottom: 1px solid v.$Grayish-blue;
    &__title {
        font-weight: 700;
        padding: 24px;
        
    }
    &__checkout-container{
        border-top: 1px solid v.$Dark-grayish-blue;
        padding: 24px;
    }
    &__details-container {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: space-between;
        color: v.$Dark-grayish-blue;
    }
    &__image{
        width: 50px;
        border-radius: 4px;
    }
    &__price span {
        color: v.$Black;
        font-weight: 700;

    }
    &__delete:hover {
        cursor: pointer;
    }
    &__checkout {
        @include mixins.button
    }

}