@use 'initial';
@use 'variables';
@use 'header';
@use 'navbar';
@use 'modal-navbar';
@use 'gallery';
@use 'details';
@use 'input';

.main-container{
    width: 375px;
    margin:auto;
    position: relative;
    outline: 1px solid black;
    @media(min-width: 1115px) {
            width: 1115px;
    }
}



